doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Web Design & Development by Ervandra Halim :: Vahnisme
		meta(name='description', content='A free responsive website template made exclusively for Codrops by Pixel Buddha and PSD2HTML')
		meta(name='keywords', content='website template, css3, one page, app template, web app, start-up')
		meta(name='author', content='Pixel Buddha and PSD2HTML for Codrops')
		link(rel='apple-touch-icon', sizes='57x57', href='favicons/apple-touch-icon-57x57.png')
		link(rel='apple-touch-icon', sizes='60x60', href='favicons/apple-touch-icon-60x60.png')
		link(rel='apple-touch-icon', sizes='72x72', href='favicons/apple-touch-icon-72x72.png')
		link(rel='apple-touch-icon', sizes='76x76', href='favicons/apple-touch-icon-76x76.png')
		link(rel='apple-touch-icon', sizes='114x114', href='favicons/apple-touch-icon-114x114.png')
		link(rel='apple-touch-icon', sizes='120x120', href='favicons/apple-touch-icon-120x120.png')
		link(rel='apple-touch-icon', sizes='144x144', href='favicons/apple-touch-icon-144x144.png')
		link(rel='apple-touch-icon', sizes='152x152', href='favicons/apple-touch-icon-152x152.png')
		link(rel='apple-touch-icon', sizes='180x180', href='favicons/apple-touch-icon-180x180.png')
		link(rel='icon', type='image/png', href='favicons/favicon-32x32.png', sizes='32x32')
		link(rel='icon', type='image/png', href='favicons/favicon-194x194.png', sizes='194x194')
		link(rel='icon', type='image/png', href='favicons/favicon-96x96.png', sizes='96x96')
		link(rel='icon', type='image/png', href='favicons/android-chrome-192x192.png', sizes='192x192')
		link(rel='icon', type='image/png', href='favicons/favicon-16x16.png', sizes='16x16')
		link(rel='manifest', href='favicons/manifest.json')
		link(rel='shortcut icon', href='favicons/favicon.ico')
		meta(name='msapplication-TileColor', content='#603cba')
		meta(name='msapplication-TileImage', content='favicons/mstile-144x144.png')
		meta(name='msapplication-config', content='favicons/browserconfig.xml')
		meta(name='theme-color', content='#ffffff')
		link(rel='stylesheet', href='css/bootstrap.css')
		link(rel='stylesheet', href='fonts/font-awesome-4.3.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='css/all.css')
		link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:400,700,400italic,700italic', rel='stylesheet', type='text/css')
	body
		#wrapper
			header#header
				.container
					.logo
						a(href='#')
							img(src='images/logo.svg', alt='Vahnisme')
					nav#nav
						.opener-holder
							a.nav-opener(href='#')
								span
						a.btn.btn-primary.rounded(href='') Hire Me
						.nav-drop
							ul
								li.active.visible-sm.visible-xs
									a(href='#') Home
								li
									a(href='#') About Us
								li
									a(href='#') Offers
								li
									a(href='#') Showcase
								li
									a(href='#') Contact
							.drop-holder.visible-sm.visible-xs
								span Follow Us
								ul.social-networks
									li
										a.fa.fa-github(href='#')
									li
										a.fa.fa-twitter(href='#')
									li
										a.fa.fa-facebook(href='#')
			section.visual
				.container
					.text-block
						.heading-holder
							h1(style='text-decoration: line-throughs;') Agent Of Code
						p.tagline We are the real gamechanger for your business growth
						span.info Design, Development, Support, Profit
				img.bg-stretch(src='images/img-decor-01.jpg', alt='')
			section.main
				.container
					#cta
						a.btn.btn-primary.rounded(href='http://tympanus.net/codrops/?p=23525') Hire Us Today
						p And feel the difference, instantly!
					.row
						.text-box.col-md-offset-1.col-md-10
							h2 Revolutionary Team
							p
								| We simplified our teamwork with 
								strong YOU
								|  in our mind, we promise you the best digital agency services ever!
							// <div class="social-placeholder"><img src="images/img-social-placeholder-01.png" height="26" width="365" alt=""></div>
			section.area
				.container
					.row
						.col-md-5
							h2.visible-xs.visible-sm.text-primary <What you might get>
							ul.visual-list
								li
									.img-holder
										img(src='images/graph-04.svg', width='110', alt='')
									.text-holder
										h3 Stunning Website
										p
											| We take a lead for a modern yet powerful website design, will bring your online presence shine over your competitor.
								li
									.img-holder
										img.pull-left(src='images/graph-03.svg', width='90', alt='')
									.text-holder
										h3 Efficiency
										p
											| We are proud of our effective efficiency, we thrown out unnecessary thing while polish over your specific requirements.
								li
									.img-holder
										img(src='images/graph-02.svg', height='84', alt='')
									.text-holder
										h3 Improved Formula
										p
											| We have lots of experiment to improve our business process as well as our developed products, and we have the best solutions!
								li
									.img-holder
										img(src='images/graph-01.svg', height='71', alt='')
									.text-holder
										h3 Quick, Fast, Responsive
										p
											| We will get done your website within shortest time, best results, and of course best support (after sales)
						.col-md-7
							.slide-holder
								h2.hidden-xs.hidden-sm.text-primary <What you might get>
								.img-slide.scroll-trigger
									img(src='images/feature-prototyping.jpg', height='418', width='1114', alt='')
			section.showcase
				.container
					.showcase-title SHOWCASE
					.showcase-list
						.showcase-info
							.showcase-name SEMEN MERAH PUTIH
							.showcase-desc PT Cemindo Gemilang is the brand holder of Semen Merah Putih that was established in 2011. With the objective of providing high quality raw materials, PT Cemindo Gemilang is currently in the process of building an integrated plant in Bayah, Banten. The plant will have a clinker production capacity of 10,000 tons per day, equivalent to 4 million tons of cement per year.
							a(href="#").showcase-button see this
						.showcase-image: img(src="images/porto/126-slideshow.jpg")
					.showcase-list
						.showcase-image: img(src="images/porto/190-slideshow.jpg")
						.showcase-info
							.showcase-name TOPGROWTH FUTURES
							.showcase-desc Topgrowth provides online trading facilities in the global foreign exchange and derivatives market. It also plans to tap the potential of the commodities market for which Indonesia is so famous for ever since its inception. With Indonesia investor community already exposed to highly sophisticated online trading technology, Topgrowth considers its core expertise in online trading being very well poised in meeting a sufficiently responsive target market. The company’s heritage in building up its core business comes from the vast and rich experience of its management team which is at the helm of the phenomenal evolution of automated execution.
							a(href="#").showcase-button see this
			section.visual-container
				.visual-area
					.container
						h2 Service Pricing
						.pricing-tables
							.plan
								.head
									h3 Modern
								.price
									span.price-main 3 Juta
									span.price-additional in Rupiah
								ul.item-list
									li Company Website
									li Blog Website
									li Personal Website
								button.btn.btn-default.rounded(type='button') Hire Me
							.plan
								.head
									h3 Advanced
								.price
									span.price-main 8 Juta
									span.price-additional in Rupiah
								ul.item-list
									li Company Profile
									li Personal Website
									li Online Shop
								button.btn.btn-default.rounded(type='button') Hire Me
							.plan.recommended
								.head
									h3 Professional
								.price
									span.price-main 15 Juta
									span.price-additional in Rupiah
								ul.item-list
									li Advanced Company Website
									li Advanced Personal Website
									li Advanced Online Shop
								button.btn.btn-default.rounded(type='button') Hire Me
							.plan
								.head
									h3 Custom
								.price
									span.price-main Call Me
									span.price-additional
								ul.item-list
									li Custom Website
									li Web Apps
									li Micro Site
								button.btn.btn-default.rounded(type='button') Hire Me
						p.silent
							| *Above rates are just the average price for each of our services, we always make a project quotation and propose them to you until your approval. 
							br
							| *Quotation might changes based on your needs and requirements.
					img.bg-stretch(src='images/img-decor-03.jpg', height='1175', width='1380', alt='')
			section.area
				.container
					.subscribe
						h3 Subscribe to Our Newsletter
						form.form-inline
							button.btn.btn-primary.rounded(type='submit') Subscribe
							.form-group
								input#exampleInputEmail2.form-control.rounded(type='email', placeholder='Email...')
			footer#footer
				.container
					.footer-holder
						.row
							.col-md-4
								.logo
									a(href='#')
										img(src='images/logo.svg', alt='FORKIO')
								p
									| WUIX Designer based on Jakarta, ready to craft your masterpiece, get to known me if you hesitate.
							.col-md-4
								.text-holder
									strong.phone
										a(href='tel:+6287708770800') 0877 0877 0800
									span.available
										a(href='mailto:ervandra.halim@gmail.com') ervandra.halim@gmail.com
									h4 Indonesia
									address
										| Jl. Kebon Kacang 33 No.7, 
										br
										| Jakarta Pusat, 10240
										br
										| DKI Jakarta
							.col-md-4
								.text-frame
									h4 Info
									p
										| Wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex commodo consequat. Autem vel hendrerit iriure dolor in hendrerit.
		script(src='js/jquery-1.11.2.min.js')
		script(src='js/bootstrap.js')
		script(src='js/jquery.main.js')
